{% extends 'accounts/base.html' %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="login-box">
        <div class="login-logo">
          <b>Django Accounts App</b>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg"><b>ログイン</b></p>
          <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group has-feedback">
                {{ field }}
              </div>
            {% endfor %}
            <div class="row">
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                  <p>{{ error }}</p>
              </div>
              {% endfor %}
              <!-- /.col -->
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">ログイン</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="border-top" style="padding:10px;">
          <a href="{% url 'accounts:create_account' %}" class="btn btn-outline-primary btn-block btn-flat">会員登録</a>
          <a href="{% url 'todo:post_list' %}" class="btn btn-outline-secondary btn-block btn-flat">ゲストとしてログイン</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
