{% extends 'portfolio/base.html' %}
{% load static %}
{% load portfolio_extras %}

{% block extra_body_top %}
<!-- plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block header %}
{{ block.super }}
{% endblock %}
{% block content %}
<main role="main">
  <!-- Hero Section -->
  <div class="min-vh-100 d-flex"
    style="background:url('{{ about_info.top_image.url }}') center no-repeat; background-size: cover;">
    <div class="container text-center my-auto">
      <h1 class="mb-1 display-2 text-white font-weight-bold">
        {{ about_info.main_text }}
      </h1>
      <h1 class="mb-5 text-white font-italic">{{ about_info.sub_text | linebreaksbr }}</h1>
      <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">
        <i class="fas fa-user-circle pr-2"></i>About {{ about_info.author.name }}
      </a>
    </div>
  </div>
  <!-- About Section -->
  <div id="about" class="jumbotron text-center mb-0 bg-light">
    <div class="container">
      <h1 class="jumbotron-heading"><i class="fas fa-user-circle pr-3"></i>About {{ about_info.author.name }}</h1>
      <hr class="my-4">
      <img src="{{ about_info.avater.url }}" width="200" height="200"
        class="img-fluid img-thumbnail rounded-circle shadow m-3">
      <p class="lead text-muted">{{ about_info.description | linebreaksbr }}</p>
      <div class="d-flex justify-content-center">
        {% if not about_info.twitter %}
        <div class="px-2" data-toggle="tooltip" data-placement="bottom" title="Twitter">
          <a href="https://twitter.com/{{ about_info.twitter }}"><span style="font-size: 3rem; color: #1DA1F2"><i
                class="fab fa-twitter"></i></span></a>
        </div>
        {% endif %}
        {% if not about_info.github %}
        <div class="px-2" data-toggle="tooltip" data-placement="bottom" title="GitHub">
          <a href="https://github.com/{{ about_info.github }}"><span style="font-size: 3rem; color:#333"><i
                class="fab fa-github"></i></span></a>
        </div>
        {% endif %}
        {% if not about_info.website %}
        <div class="px-2" data-toggle="tooltip" data-placement="bottom" title="Blog">
          <a href="{{ website }}"><span style="font-size: 3rem; color: #1d6a96;"><i
                class="fab fa-wordpress"></i></span></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Skills Section -->
  <div id="skill" class="jumbotron text-center mb-0" style="background-color:#7bc3d1">
    <div class="container-fluid">
      <h1 class="jumbotron-heading text-white"><i class="fas fa-list-alt pr-3"></i>Skills</h1>
      <hr class="my-4">
      <div class="row">
        {% for skill_chart in skill_charts %}
        <div class="col-sm-12 col-md-6 col-lg-4">
          {{ skill_chart | safe }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container">
      <ul class="list-group text-center">
        <li class="list-group-item list-group-item-info">スキルレベル早見表</li>
        {% for skill_level in skill_levels %}
        <li class="list-group-item">{{ skill_level.level }} >> {{skill_level.level_text}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Portfolio Section -->
  <div id="portfolio" class="jumbotron text-center mb-0 bg-light">
    <div class="container">
      <h1 class="jumbotron-heading"><i class="fas fa-laptop-code pr-3"></i>Portfolios</h1>
      <hr class="my-4">
      <div class="row">
        {% for portfolio in portfolios %}
        <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
          <div class="card shadow mb-2 h-100" data-toggle="modal" data-target="#porttfolioModal-{{ portfolio.pk }}"
            data-toggle="tooltip" title="選択で詳細">
            <img class="card-img-top" src="{{ portfolio.thumbnail_image.url }}" class="img-fluid h-70"
              alt="{{ portfolio.title }}" style="height: 225px; width: 100%; display: block;">
            <div class="card-header">{{ portfolio.title }}</div>
            <div class="card-body">
              <p class="card-text">{{ portfolio.sub_title }}</p>
            </div>
            <div class="card-footer">
              {% for portfoliotag in portfolio.portfoliotag_set.all %}
              <div class="badge badge-info text-wrap">
                {{ portfoliotag.tag }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Modal  -->
        <div class="modal fade" id="porttfolioModal-{{ portfolio.pk }}" tabindex="-1" role="dialog"
          aria-labelledby="porttfolioModalTitle-{{ portfolio.pk }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <div class="text-center center">
                      <h4>{{ portfolio.title }}</h4>
                      <hr>
                    </div>
                    <div>
                      {{ portfolio.discription | linebreaksbr }}
                    </div>
                    <div class="d-flex justify-content-center">
                      {% if portfolio.demo_url %}
                      <div class="px-2" data-toggle="tooltip" data-placement="bottom" title="Demo">
                        <a href="{{ portfolio.demo_url }}"><span style="font-size: 2rem; color:#333"><i
                              class="fas fa-video"></i></span></a>
                      </div>
                      {% endif %}
                      {% if portfolio.github_url %}
                      <div class="px-2" data-toggle="tooltip" data-placement="bottom" title="GitHub">
                        <a href="{{ portfolio.github_url }}"><span style="font-size: 2rem; color:#333"><i
                              class="fab fa-github"></i></span></a>
                      </div>
                      {% endif %}
                    </div>
                    <div class="text-center center pt-2">
                      <h4>TECH Category</h4>
                      <hr>
                    </div>
                    {% for tag in tags %}
                    <div class="badge badge-info text-wrap">
                      {{ tag.tag }}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-sm-8 col-md-8 h-100">
                    <div class="text-center center">
                      <h4>Sample Image</h4>
                      <hr>
                    </div>
                    <div id="carouselIndicators-{{ portfolio.pk }}" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        {% for portfolio_image in portfolio.portfolioimage_set.all %}
                        {% if forloop.first %}
                        <li data-target="#carouselIndicators-{{ portfolio.pk }}" data-slide-to="{{ forloop.counter0 }}"
                          class="active"></li>
                        {% else %}
                        <li data-target="#carouselIndicators-{{ portfolio.pk }}" data-slide-to="{{ forloop.counter0 }}">
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ol>
                      <div class="carousel-inner">
                        {% for portfolio_image in portfolio.portfolioimage_set.all %}
                        {% if forloop.first %}
                        <div class="carousel-item active">
                          {% else %}
                          <div class="carousel-item">
                            {% endif %}
                            <img class="img-fluid d-block w-100 h-100" src="{{ portfolio_image.image.url }}">
                          </div>
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicators-{{ portfolio.pk }}" role="button"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicators-{{ portfolio.pk }}" role="button"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Resume Section -->
    <div id="resume" class="jumbotron text-center mb-0" style="background-color:#7bc3d1">
      <div class="container-fluid">
        <h1 class="jumbotron-heading text-white"><i class="fas fa-briefcase pr-3"></i>Works</h1>
        <hr class="my-4">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <ul class="timeline">
              {% for project in projects %}
              <li>
                <div class="card w-100">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-6 text-left">
                        {{ project.project_name }}
                      </div>
                      <div class="col-6 text-right text-muted">
                        {{ project.term_from|date:'Y/m' }} ~ {{ project.term_to|date:'Y/m' }}
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    {{ project.overview }}
                  </div>
                  <div class="card-footer">
                    {% for projecttag in project.projecttag_set.all %}
                    <div class="badge badge-info text-wrap">
                      {{ projecttag.tag }}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Section -->
    <div id="contact" class="jumbotron text-center mb-0 bg-light">
      <div class="container">
        <h1 class="jumbotron-heading"><i class="fas fa-at pr-3"></i>Job Request</h1>
        <hr class="my-4">
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td class="h3 align-middle">Twitter DM</td>
                  <td><span style="font-size: 3rem;"><i class="fas fa-angle-double-right"></i></td>
                  <td class="text-center">
                    <a href="https://twitter.com/{{ about_info.twitter }}"><span
                        style="font-size: 3rem; color: #1DA1F2"><i class="fab fa-twitter"></i></span></a>
                  </td>
                </tr>
                <tr>
                  <td class="h3 align-middle">Send Mail</td>
                  <td><span style="font-size: 3rem;"><i class="fas fa-angle-double-right"></i></td>
                  <td class="h4 align-middle text-center">準備中</td>
                <tr>
                  <td class="h3 align-middle">Contact Form</td>
                  <td><span style="font-size: 3rem;"><i class="fas fa-angle-double-right"></i></td>
                  <td class="h4 align-middle text-center">準備中</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}