html {
  scroll-behavior: smooth;
  }

nav {
  opacity: 95%;
}
body {
  position: relative;
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 2147483647;
  font-size: 2rem;
  color:#333;
}

.card-zoom {
  overflow:hidden;
  transition:0.5s all;
}
.card-zoom:hover {
  transform:scale(1.1,1.1);
  transition:0.5s all;
}

.chart-zoom {
  overflow:hidden;
  transition:0.5s all;
}
.chart-zoom:hover {
  transform:scale(1.1,1.1);
  transition:0.5s all;
}

.img-zoom {
  overflow:hidden;
  transition:0.5s all;
}
.img-zoom:hover {
  transform:scale(1.1,1.1);
  transition:0.5s all;
}

.under-bar {
  height: 4px;
  width: 70px;
  border-width : thick !important;
  border-color: #7bc3d1;
}

#skill,#resume{
  background-color:#7bc3d1;
}

#skill hr,#resume hr{
  border-color:rgba(255,255,255,0.3) ;
}

